* {
  margin: 0;
  padding: 0;
}

.baloo-thambi-2-400 {
  font-family: "Baloo Thambi 2", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.baloo-thambi-2-500 {
  font-family: "Baloo Thambi 2", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.baloo-thambi-2-600 {
  font-family: "Baloo Thambi 2", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.baloo-thambi-2-700 {
  font-family: "Baloo Thambi 2", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.solid-shadow {
  box-shadow: 16px 16px 0 0 #000
}

html {
  cursor: none;
}

#circularcursor {
  background-color: transparent;
  border:3px dashed black;
  height:35px;
  width:35px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 100;

  /* animation */
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}